.news {
    .posts {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;

        .load {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 20px 0;
        }
    }
}