.playground {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

    .board {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
    }
}