* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    overflow-x: hidden;
    background: #fafbfc;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}